autostart
Code
configstore
dconf
evolution
gnome-session
goa-1.0
gtk-3.0
gtk-4.0
ibus
nautilus
pulse
update-notifier
VirtualBox
gnome-initial-setup-done
monitors.xml
monitors.xml~
QtProject.conf
user-dirs.dirs
user-dirs.locale
